* {
	margin: 0;
	padding: 0;
}
main {
	width: 70%;
	margin: auto;
	padding: 50px;
	background: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow:0 0 10px 1px rgba(0,0,0,0.2);
}
body {
	background: #efefef
}
.photo{
	background: red;
	width: calc( 50% - 40px );
	height: calc(( 35vw - 40px ) /16 * 9);
	margin: 20px;
}
h1{
	width: 100%;
	font-size: 40px;
	text-align: center;
}
.photo1{
	background-image: url(../img/1.jpg);
}
.photo2{
	background-image: url(../img/2.jpg);
}
.photo3{
	background-image: url(../img/3.jpg);
}
.photo4{
	background-image: url(../img/4.jpg);
}
.photo5{
	background-image: url(../img/5.jpg);
}
.photo6{
	background-image: url(../img/6.jpg);
}
.photo7{
	background-image: url(../img/7.jpg);
}
.photo8{
	background-image: url(../img/8.jpg);
}
.photo9{
	background-image: url(../img/9.jpg);
}
.photo10{
	background-image: url(../img/10.jpg);
}
.photo11{
	background-image: url(../img/11.jpg);
}
.photo12{
	background-image: url(../img/12.jpg);
}
.photo:hover{
box-shadow:0 0 30px 10px rgba(0,0,0,0.2);
transform: scale(0.4) rotate(10deg);	
transition: all 0.5s ease
}